input[type=text]{
	width: 2em;
}

input[type=radio]{
}

.setupinfo{
	width: 15vw;
}

#table2 td{
	width: 50%;
}

.c1{
	text-align: right;
}

button {
	width: 100%;
}

.underline{
	text-decoration: underline;
}

#container{
	width: 40vw;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

#gameinfo{
	width: 100%;
	text-align: center;
	line-height: 2em;
	table-layout: fixed;
	/*vertical-align: middle;*/
	/*TODO vertical align contents*/
}

#gameinfo td{
	width: 100%;
	font-size: 1.3em;
}

#field{
	height: 40vw;
	position: relative;
}

.coin{
	border-radius: 50%;
	transform: translate(-50%, 70%);
	position: absolute;
}

.heads{
	background-color: orange;
}

.tails{
	background-color: grey;
}
