input[type=text]{
	width: 2em;
}

input[type=radio]{
}

/*label {*/
	/*margin: 5em;*/
/*}*/

#right {
	margin-left: 2em;
}


#k{
}

.c1{
	text-align: right;
}

button {
	width: 100%;
}

#container{
	top: 50%;
	left: 50%;
	background-color: gray;
	position: absolute;
	transform: translate(-50%, -50%);
}

#direction{
	text-align: center;
	line-height: 2em;
	/*vertical-align: middle;*/
	/*TODO vertical align contents*/
}

#field{
	height: 40vw;
	width: 40vw;
	background-color: black;
}

.coin{
	/*height: 2vw;*/
	/*width: 2vw;*/
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.heads{
	background-color: orange;
}

.tails{
	background-color: grey;
}
